<div class="location-detail-container">
  <!-- Header Image -->
  <div class="header-image">
    <img [src]="locationData()?.fileCoverUrl ||'assets/images/local-details-header.png'" [alt]="locationData()?.name">
    <button class="back-button" (click)="goBack()">
      <mat-icon>chevron_left</mat-icon>
      <span>VOLTAR</span>
    </button>
  </div>

  <!-- Location Profile -->
  <div class="location-profile ">
    <div class="profile-image">
      <img [src]="locationData()?.fileLogoUrl" [alt]="locationData()?.name">
    </div>
    <div class="profile-info">
      <h1 class="location-name">{{ locationData()?.name }}</h1>
      <div class="location-meta">
        <div class="distance">
          <mat-icon>place</mat-icon>
          <span>{{ location.distance }} km</span>
        </div>
        <div class="flex gap-2 mt-2 categories">
          <div *ngFor="let category of locationData()?.categories" 
               class="w-6 h-6 rounded-full flex items-center justify-center" 
              >
            <img class="rounded-full h-6" [src]="category.imageCoverUrl" [alt]="category.name">
          </div>
        </div>
      </div>
    </div>
    <!-- Location Description -->
    <div class="location-description">
      <p>{{ locationData()?.description }}</p>
    </div>
  </div>

  

  <!-- Tabs -->
  <div class="tabs-container">
    <div class="tabs-header">
      <button 
        class="tab-button" 
        [class.active]="activeTab === 0" 
        (click)="selectTab(0)">
        Eventos
      </button>
      <button 
        class="tab-button" 
        [class.active]="activeTab === 1" 
        (click)="selectTab(1)">
        Localização
      </button>
    </div>
  </div>

  <!-- Tab Content -->
  <div class="tab-content">
    <!-- Events Tab -->
    <div *ngIf="activeTab === 0" class="events-tab">
      <app-events
        [events]="locationData()?.event"
        [eventTypes]="eventTypes"
        (filterChange)="onFilterChange($event)"
        (favoriteToggle)="onFavoriteToggle($event)" 
      >
      </app-events>
    </div>

    <!-- Location Tab -->
    <div *ngIf="activeTab === 1" class="location-tab">
      <div class="map-placeholder">
        <app-location [placeLatLng]="locationData()?.addressLocation"></app-location>
      </div>
    </div>
  </div>
</div>
