<app-page-header title="Local" pageSession="Detalhes do Local" />

<!-- Header Banner -->
<div class="relative w-full h-44 bg-cover bg-center" [ngStyle]="{ 'background-image': backgroundImage }">
  <!-- <div class="absolute top-0 right-0 p-2 flex gap-2">
    <button mat-icon-button>
      <mat-icon class="text-white">delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="text-white">edit</mat-icon>
    </button>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div> -->
</div>

<!-- Location Info -->
<div class="container mx-auto px-4 mt-6">
  <div class="location-profile flex flex-col items-center text-center gap-2 mb-4">
    <div class="location-avatar mb-2">
      <img [src]="locationData()?.fileLogoUrl" alt="">
    </div>
    <h1 class="text-2xl lg:text-3xl font-bold text-gray-900 mb-1">{{ locationData()?.name }}</h1>
    <div class="location-address text-gray-500 text-sm mb-1">
      <ng-container *ngIf="locationData()?.addressLocation?.street; else noAddress">
        {{ locationData()?.addressLocation?.street }}
        <ng-container *ngIf="locationData()?.addressLocation?.number">, {{ locationData()?.addressLocation?.number }}</ng-container>
        <ng-container *ngIf="locationData()?.addressLocation?.neighborhood"> - {{ locationData()?.addressLocation?.neighborhood }}</ng-container>
        <ng-container *ngIf="locationData()?.addressLocation?.city">, {{ locationData()?.addressLocation?.city }}</ng-container>
        <ng-container *ngIf="locationData()?.addressLocation?.uf">/{{ locationData()?.addressLocation?.uf }}</ng-container>
        <ng-container *ngIf="locationData()?.addressLocation?.cep"> - {{ locationData()?.addressLocation?.cep }}</ng-container>
      </ng-container>
      <ng-template #noAddress>Localização não foi fornecida</ng-template>
    </div>
    <p class="text-sm text-gray-900 location-description mb-2">{{ locationData()?.description }}</p>
    <div class="categories-container flex flex-wrap justify-center gap-2 mt-2">
      <div *ngFor="let category of locationData()?.categories" class="category-icon w-6 h-6 rounded-full flex items-center justify-center">
        <img class="h-6 w-6" [src]="category.imageIconUrl" alt="Ícone da categoria" />
      </div>
    </div>
  </div>
  
  <!-- Tabs and Action Buttons Container -->
  <div class="tab-header-container">
    <div class="tab-labels">
      <div class="tab-label" [class.active]="selectedTab === 0" (click)="selectTab(0)">Eventos</div>
      <div class="tab-label" [class.active]="selectedTab === 1" (click)="selectTab(1)">Localização</div>
    </div>
    
    <div class="action-buttons gap-3">
      @if(role() === 'ADMIN') {
        <button mat-raised-button color="primary" class="bg-[#192554] rounded-xl p-2 text-white text-sm w-40" (click)="createNewEvent()">
          NOVO EVENTO
        </button>
      }
      <button mat-icon-button class="ml-2" [class.active-view]="currentView === 'cards'" (click)="switchView('cards')">
        <mat-icon>view_module</mat-icon>
      </button>
      <!-- <button mat-icon-button [class.active-view]="currentView === 'dashboard'" (click)="switchView('dashboard')">
        <mat-icon>dashboard</mat-icon>
      </button> -->
    </div>
  </div>
  
  <!-- Tab Content -->
  <div [hidden]="selectedTab !== 0">
    <div class="py-4">
      <!-- Filter and Event Types Row -->
      <div class="filter-row">
        <app-filter-table (filter)="onFilter($event)"></app-filter-table>
        
        <div class="event-types">
          <div *ngFor="let type of eventTypes" class="event-type-chip">
            {{ type }}
          </div>
        </div>
      </div>
      
      <!-- View Components -->
      <app-cards-view style="cursor: pointer;" *ngIf="currentView === 'cards'" [events]="locationData()?.event"></app-cards-view>
      <!-- <app-dashboard-view *ngIf="currentView === 'dashboard'" [events]="events"></app-dashboard-view> -->
    </div>
  </div>
  
  <div [hidden]="selectedTab !== 1">
    <div class="py-4">
      <app-location-map [address]="locationAddress()"></app-location-map>
    </div>
  </div>
</div>

