<app-page-header title="Ingressos" pageSession="Ingressos" />

<div>
  <div class="flex justify-between items-center mb-6">
    <app-filter-table class="w-full" (filterText)="filter($event)" [useFilterBtn]="false"></app-filter-table>
  </div>
  
    <app-commom-table
      [data]="filteredTickets()"
      [displayedColumns]="displayedColumns"
      [totalItems]="totalItems()"
      (detail)="gotoDetailPage($event)"
      (pageChange)="handlePageChange($event)"
      [page]="currentPage()"
      [size]="pageSize()"
      [useEditBtn]="false"
      [useDeleteBtn]="false"
    ></app-commom-table>
</div>

