<app-page-header title="Ingressos" pageSession="Ingressos" />

<div>
  <div class="flex justify-between items-center mb-6">
    <!-- <button mat-button [matMenuTriggerFor]="filterMenu" class="period-button">
      <mat-icon>filter_list</mat-icon>
      <span>Filtrar por</span>
    </button> -->
    <app-filter-table class="w-full" (filterText)="filter($event)" [useFilterBtn]="false"></app-filter-table>

    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item (click)="applyFilter('local')">Local</button>
      <button mat-menu-item (click)="applyFilter('evento')">Evento</button>
      <button mat-menu-item (click)="applyFilter('categoria')">Categoria</button>
      <button mat-menu-item (click)="applyFilter('datas')">Datas</button>
    </mat-menu>
    
    <!-- <div class="view-toggle">
      <button 
        class="view-button" 
        [class.active]="viewMode === 'list'"
        (click)="toggleView('list')">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button 
        class="view-button" 
        [class.active]="viewMode === 'dashboard'"
        (click)="toggleView('dashboard')">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div> -->
  </div>
  
  @if (viewMode === 'list') {
    <!-- <app-filter-table (filter)="filter($event)"></app-filter-table> -->
  
    <app-commom-table
      [data]="getPaginatedTickets()"
      [displayedColumns]="displayedColumns"
      [totalItems]="totalItems()"
      (detail)="gotoDetailPage($event)"
      (delete)="deleteEvent($event)"
      (pageChange)="handlePageChange($event)"
      [page]="currentPage()"
      [size]="pageSize()"
    ></app-commom-table>
  } @else {
    <app-dashboard-view></app-dashboard-view>
  }
</div>

