<div class="mb-8 z-0">
  <google-map
    #map
    class="z-0"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    height="100vh"
    width="100%"
  >
    <!-- Marcador do usuário -->
    <map-marker
      [position]="markerPosition"
      [options]="markerOptions"
    ></map-marker>

    <!-- Marcadores das localizações recebidas -->
    <map-marker
      *ngFor="let marker of customMarkers"
      [position]="marker.position"
      [options]="{ title: marker.title, icon: marker.icon }"
    ></map-marker>
  </google-map>
</div>
