<!-- Schedule Section -->
<div class="mb-8">
  <h2 class="text-xl font-semibold mb-4">Cronograma do evento</h2>
  @if(scheduleItems.length > 0) {
    <div class="space-y-4">
      @for (item of scheduleItems; track $index) {
        <div class="schedule-item p-4 bg-gray-50 rounded-lg">
          <div class="flex items-center mb-2">
            <div class="schedule-icon mr-3">
              <mat-icon>calendar_today</mat-icon>
            </div>
            <div class="font-medium">{{ item.date | date: 'dd/MM/yyyy' }} | {{ item.date | date: 'EEEE'}} </div>
            <div class="ml-auto text-sm text-gray-500">{{ item.hourInit }} - {{ item.hourFinish }} </div>
          </div>
          <p class="text-gray-700 ml-10">{{ item.description }}</p>
        </div>
      }
    </div>
  } @else {
    <h3>Não há um cronograma definido para este evento</h3>
  }
</div>

