.schedule-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  
  mat-icon {
    color: #192554;
    font-size: 20px;
  }
}

.schedule-item {
  border-left: 3px solid #192554;
}

