<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <app-filter-table (filterText)="filter($event)" [useFilterBtn]="false">
    <app-base-button label="Nova Categoria" (click)="newCategory()"></app-base-button>
  </app-filter-table>

  <app-commom-table
    [data]="getPaginatedCategories()"
    [totalItems]="totalItems()"
    [displayedColumns]="displayedColumns"
    (delete)="deleteCategory($event)"
    (pageChange)="handlePageChange($event)"
    [page]="currentPage()"
    [size]="pageSize()"
    [useEditBtn]="false"
    [useDetailBtn]="false"
  ></app-commom-table>
</section>