<div class="max-w-7xl mx-auto font-sans p-10">
  <div class="flex items-center cursor-pointer mb-10" (click)="goBack()">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
      <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="text-sm font-medium">VOLTAR</span>
  </div>
  
  <h1 class="text-2xl font-semibold mb-10">Sobre</h1>

  <!-- Content -->
  <div class="flex flex-col md:flex-row gap-10">
    <!-- Logo container -->
    <div class="flex-shrink-0">
      <div class="w-full md:w-[350px] h-[300px] md:h-[400px] bg-[#c5a25c] rounded-2xl flex items-center justify-center">
        <div class="text-center">
          <span class="block text-2xl font-semibold leading-tight text-[#192554]">CIDADE<br>DA</span>
          <span class="block text-6xl font-bold text-[#192554] leading-none">cultura</span>
        </div>
      </div>
    </div>

    <!-- Text container -->
    <div class="flex-1">
      <ng-container >
        <p class="text-[#7f7f7f] text-base leading-relaxed mb-6">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores dignissimos facilis nostrum neque eius, tenetur sit ipsam asperiores sequi maiores, repellendus harum ducimus. Esse alias adipisci culpa incidunt nisi, distinctio odio vel, atque assumenda quas delectus quod cupiditate maiores hic eveniet soluta ullam tempore consequatur minima consequuntur! Illo doloribus quam mollitia voluptas nihil dolorum dicta perferendis, perspiciatis eveniet culpa assumenda rem, cum eligendi expedita molestiae et minus magnam ad quibusdam placeat veniam laborum quaerat ipsa error! Repudiandae in, soluta cupiditate optio explicabo consequuntur voluptate eligendi sit corrupti eius suscipit quam eaque quaerat rem! Architecto fugit deleniti aspernatur nostrum repellat natus.
        </p>
      </ng-container>
    </div>
  </div>
</div>
