<div class="account-home-container">
  <!-- Search and Filter Bar -->
  <div class="search-filter-container w-full z-49">
    <app-filter-table 
      (filter)="onFilter($event)" 
      (filterText)="onSearchChange($event)" 
    />

    <button class="view-toggle-button" (click)="toggleView()">
      <mat-icon>{{ viewMode === 'map' ? 'format_list_bulleted' : 'map' }}</mat-icon>
    </button>
  
  </div>
  <div class="category-filters">
    <div 
      *ngFor="let category of categories()" 
      class="category-item  z-5"
      [class.active]="selectedCategory === category.id"
      (click)="selectCategory(category)">
      <div class="category-icon flex justify-center ">
        @if(category.imageIcon) {
          <img class="icon-image" [src]="category.imageIcon" alt="ícone da categoria">
        } @else {
          <img class="icon-image" src="assets/images/no-image.jpg" alt="ícone da categoria">
        }
      </div>
    </div>
  </div>
  
  <!-- Map View -->
  <div class="map-container" *ngIf="viewMode === 'map'">
    <app-map-view 
      [userLocation]="userLocation()"
      [locations]="locationsData()"
      >
    </app-map-view>
  </div>
  
  <!-- List View (Hidden by default) -->
  <div class="list-container" *ngIf="viewMode === 'list'">
    <app-list 
      [userLocation]="userLocation()" 
      [locations]="locationsData()" 
      (backToMapView)="toggleView()">
    </app-list>
  </div>
</div>
