<div class="account-home-container">
  <!-- Search and Filter Bar -->
  <div class="search-filter-container w-full">
    <app-filter-table (filter)="onFilter($event)"></app-filter-table>
    <button class="view-toggle-button" (click)="toggleView()">
      <mat-icon>{{ viewMode === 'map' ? 'format_list_bulleted' : 'map' }}</mat-icon>
    </button>
  </div>
  <div class="category-filters">
    <div 
      *ngFor="let category of categories" 
      class="category-item"
      [class.active]="selectedCategory === category.id"
      (click)="selectCategory(category.id)">
      <div class="category-icon">
        <!-- <mat-icon>{{ category.icon }}</mat-icon> -->
         <img [src]="category.icon" alt="ícone da categoria">
      </div>
    </div>
  </div>
  
  <!-- Map View -->
  <div class="map-container" *ngIf="viewMode === 'map'">
    <app-map-view [userLocation]="userLocation()"></app-map-view>
  </div>
  
  <!-- List View (Hidden by default) -->
  <div class="list-container" *ngIf="viewMode === 'list'">
    <app-list  [userLocation]="userLocation()" [locations]="locationsData()" (backToMapView)="toggleView()"></app-list>
  </div>
</div>
