<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <app-filter-table (filterText)="filter($event)" [useFilterBtn]="false"></app-filter-table>

  <app-commom-table
    [data]="paginatedClientsData()"
    [displayedColumns]="displayedColumns"
    (detail)="gotoDetailPage($event)"
    (delete)="deleteClient($event)"
    (pageChange)="handlePageChange($event)"
    [totalItems]="totalItems()"
    [page]="currentPage()"
    [size]="pageSize()"
    [useEditBtn]="false"
    [useDeleteBtn]="false"
  ></app-commom-table>
</section>