<header class="client-header">
  <div class="container">
    <div class="header-content">
      <!-- Logo -->
      <a routerLink="/" class="logo">
        <img src="assets/images/logo-header.png" alt="Imagem do usuário">
      </a>
      
      <!-- Right Side Actions -->
      <div class="header-actions">
               
        <button (click)="goToCart()" mat-icon-button class="action-button">
          <mat-icon >shopping_cart</mat-icon>
        </button>
        
        <div class="user-menu">
          <div mat-button [matMenuTriggerFor]="userMenu" class="user-button">
            <div class="user-avatar">
              @if(!userData()?.imageUrl) {
                <mat-icon>person</mat-icon>
              } @else {
                <img class="w-full h-full rounded-full" [src]="userData()?.imageUrl" alt="">
              }
            </div>
            <div class="user-info text-white">
              @if(isAuth === false) {
                <span class="user-label">Faça seu login</span>
              } @else {
                <span class="user-label">Seja bem vindo(a)</span>
              }
              @if(isAuth === false) {
                <span class="user-action cursor-pointer" routerLink="/login">Login ou Cadastro</span>
              } @else {
                <span class="user-action cursor-pointer" routerLink="/login">{{ userData()?.name }}</span>
              }
            </div>
            <mat-icon class="dropdown-icon" style="cursor: pointer; color: white">keyboard_arrow_down</mat-icon>
          </div>
          
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/client/meus-dados">Meus Dados</button>
            <button mat-menu-item (click)="logout()">Sair</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</header>

