<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<section class="w-56 cursor-pointer" (click)="gotoProductDetail()">
  <div class="border shadow-md rounded-md mb-2">
    <img src="assets/images/magazine.png" alt="" class="py-12">
  </div>
  <div class="space-y-1">
    <p class="font-bold">Livro sem orelha</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="font-bold">A partir de: R$ 00,00</p>
    <p class="font-bold">Valor unitário: R$ 00,00</p>
  </div>
</section>