.cancel-button {
    border: 1px solid #e0e0e0;
    color: #707070;
    padding: 15px;
    width: 300px;
  }
  
  .back-button {
    border: 1px solid #e0e0e0;
    color: #707070;
    padding: 15px;
    width: 300px;
  }
  
  .continue-button {
    background-color: #192554;
    color: white;
    padding: 15px;
    width: 300px;
  }