<app-page-header title="Ingressos" pageSession="Detalhes do Ingresso" />

<div class="container">
  <!-- Ticket Header Card -->
  <div class="bg-white rounded-lg p-6 mb-6 shadow-lg">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
      <div>
        <h1 class="text-xl font-bold">{{ tickeData()?.event?.name }}</h1>
        <p class="text-gray-600 mt-1">
          Data: {{ tickeData()?.event?.eventDate | date: 'dd/MM/yyyy' }} | {{ tickeData()?.event?.timelineEvent?.[0]?.hourInit }}
        </p>
        <p class="text-gray-600">
          <!-- Quantidade: {{ tickeData()?.event.quantity }} -->
        </p>
      </div>
      <div class="flex flex-col items-end mt-4 md:mt-0">
        <span class="status-badge mb-2">{{ tickeData()?.status === 'VALID' ? 'Válido' : 'Inválido'}}</span>
        <span class="text-xl font-bold">{{ tickeData()?.event?.value | currency: 'BRL' }}</span>
      </div>
    </div>
  </div>

  <!-- Custom Tabs -->
  <div class="custom-tabs mb-6">
    <div class="tab-header">
      <button 
        class="tab-button" 
        [class.active]="selectedTabIndex === 0"
        (click)="selectTab(0)">
        QR Codes
      </button>
      <button 
        class="tab-button" 
        [class.active]="selectedTabIndex === 1"
        (click)="selectTab(1)">
        Detalhes do evento
      </button>
    </div>
    
    <div class="tab-content">
      @if (selectedTabIndex === 0) {
        <app-ticket-qr-codes [ticketData]="tickeData()"></app-ticket-qr-codes>
      } @else if (selectedTabIndex === 1) {
        <app-ticket-event [ticketId]="ticketId"></app-ticket-event>
      }
    </div>
  </div>
</div>

