<section>
  <img src="assets/images/logo-home.png" alt="" class="mx-auto my-5 h-24">
  <h1 class="text-2xl font-bold mb-2">Esqueceu sua senha?</h1>
  <p class="mb-3">Digite o código de recuperação e a nova senha:</p>

  <form class="mb-16" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Código</mat-label>
      <input matInput required type="text" formControlName="code">
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Nova senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" class="mr-3" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">Senha deve possuir, no mínimo, 8 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Confirmar senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
      <button type="button" class="mr-3" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" class="w-full" [disabled]="form.invalid">Confirmar</button>
  </form>
</section>