<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <app-filter-table title="Configurações" (filterText)="filter($event)" [useFilterBtn]="false">
    <app-base-button label="Novo Colaborador" routerLink="form"></app-base-button>
  </app-filter-table>

  <app-commom-table
    [data]="filteredAdmins()"
    [displayedColumns]="displayedColumns"
    (detail)="gotoEdit($event)"
    [totalItems]="totalItems()"
    [page]="currentPage()"
    [size]="pageSize()"
    (pageChange)="handlePageChange($event)"
    [useDetailBtn]="false"
    [useEditBtn]="false"
  ></app-commom-table>
</section>