<mat-sidenav-container class="sidenav-container">
  <app-client-header />
  <mat-sidenav #drawer class="sidenav py-7" fixedInViewport
      [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isMobile$ | async) ? 'over' : 'side'"
      [opened]="(isMobile$ | async) === false">
    <mat-toolbar>
      <img *ngIf="useLogo" class="p-5" src="assets/images/logo-home.png" alt="">
    </mat-toolbar>
    <mat-nav-list>
      @for (item of routes; track $index) {
        <a mat-list-item routerLinkActive="active" class="sidenav-item" [routerLink]="item.route">
          <div class="sidenav-item__link flex justify-start items-center gap-3">
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <span mat-line>{{ item.label }}</span>
          </div>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isMobile$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Ato Cultural</span> -->
    </mat-toolbar>

    <main class="p-1">
      <router-outlet></router-outlet>
    </main>
    
  </mat-sidenav-content>
  <app-client-footer></app-client-footer>
</mat-sidenav-container>
