<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <app-filter-table (filter)="filter($event)">
    <app-base-button label="Novo Banner" routerLink="cadastrar"></app-base-button>
  </app-filter-table>

  <app-commom-table
    [data]="bannersData()"
    [displayedColumns]="displayedColumns"
    (detail)="gotoDetailPage($event)"
    (delete)="deleteBanner($event)"
    (pageChange)="handlePageChange($event)"
    [totalItems]="totalItems()"
    [page]="currentPage()"
    [size]="pageSize()"
  ></app-commom-table>
</section>