<div>
  <img src="assets/images/logo.png" alt="logo-image" class="mx-auto mt-5 h-24">
</div>
<div class="px-7 py-3">
  <h1 class="text-3xl font-bold mb-3">{{ type === 'terms' ? 'Termos de Uso' : 'Políticas de privacidade' }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, unde facere a doloremque sunt sequi qui! Quaerat eligendi, mollitia explicabo, asperiores doloremque cupiditate rerum iusto reiciendis a et rem tenetur!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nam dolorem? Exercitationem alias quisquam quia? Dolorum quam, itaque quasi, quo nihil veniam sunt et commodi impedit nemo officiis numquam totam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ratione nam accusantium quam numquam ex accusamus officiis molestiae sapiente, neque nesciunt exercitationem minus nobis, repellendus atque. Animi similique autem molestias!</p>
</div>