<div class="location-list-container">
  <!-- Header with back button -->
  <div class="list-header" (click)="goBack()">
    <!-- <button class="back-button" >
      <mat-icon>chevron_left</mat-icon>
      <span>VOLTAR</span>
    </button> -->
  </div>

  <!-- Search and Filter Bar -->
  <!-- <div class="search-filter-container">
    <app-filter-table (filter)="onFilter($event)">
      <div class="filter-buttons">
        <button mat-icon-button class="filter-button">
          <mat-icon>tune</mat-icon>
        </button>
      </div>
    </app-filter-table>
  </div> -->


  <!-- Locations Grid -->
  <div class="locations-grid">
    <div *ngFor="let location of locations" class="location-card cursor-pointer" (click)="navigateToLocationDetail(location.id)">
      <div class="location-image">
        <img [src]="location.image" alt="{{ location.name }}">
      </div>
      <div class="location-info">
        <h3 class="location-name">{{ location.name }}</h3>
        <div class="location-distance">
          <mat-icon class="distance-icon">place</mat-icon>
          <span>{{ location.distance }} km de você - {{ location.duration }} min</span>
        </div>
        <div class="location-distance">
          <mat-icon class="distance-icon">link</mat-icon>
          <span>{{ location.link }}</span>
        </div>

        <div class="flex gap-2 mt-2">
          <div *ngFor="let category of categories" 
               class="w-6 h-6 rounded-full flex items-center justify-center" 
               [style.background-color]="category.color">
            <mat-icon class="text-white text-sm ml-1 mt-1">{{ category.icon }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
